* {
    margin: 0;
    padding: 0;
   
}

body {
background-color: #ccd5ae;
}

.container {
  width:80%;
  margin:5% auto;
  padding-top: 30px;
  border-radius: 5px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #fefae0;
  box-shadow: 10px 5px 5px #bfc8a3;
}

h1 {
    text-align: center;
    font-family: "Alex Brush" ;
    color: #d4a373;
    font-size: 60px;
    margin: 20px;
    
}

.add_item {
    width: 80%;   
    margin:5% auto;
}
input {
    width: 70%;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #ccd5ae;
    margin-right: 15px;
    color: #d4a373;
    font-size: 20px;
    background-color: #fefae0;
}

.btn {   
color: #fefae0;
width: 100px;
height: 30px;
margin-top: 10px;
background-color: #ccd5ae;
border: none;
border-radius: 20px;
cursor: pointer;
font-size: 15px;
}

.btn:hover {
background-color: #bfc8a3;
}

.list {
margin-top: 50px;
font-size: 1.5rem;
}

ul {
    list-style: none;
}

button {
width: 80px;
height: 30px; 
color: #bfc8a3;
background-color: #faedcd;
border: 2px #ccd5ae;
border-radius: 20px;
cursor: pointer;
font-size: 15px;
margin: 10px;
}

button:hover {
background-color: #fefae0;    
}


li {
color: #d4a373;
font-size: 20px;  
}