* {
    margin: 0;
    padding: 0;
   
}

body {
background-color: rgb(208, 122, 122);

}



.container {
  width:80%;
  margin:5% auto;
  padding-top: 30px;
  border-radius: 5px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

h1 {
    text-align: center;
    font-family: "Alex Brush" ;
    
}

.add_item {
    width: 80%;   
    margin:5% auto;
}
input {
    width: 70%;
    outline: 0;
    border: 0;
    border-bottom: 1px solid;
    margin-right: 15px;
    font-size: 20px;
}

button {

width: 100px;
height: 30px;
margin-top: 10px;
}

.list {
margin-top: 50px;
font-size: 1.5rem;
}

ul {
    list-style: none;
}